* {
    /*border: 1px red solid;*/
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: greenyellow;
}

#title {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid black;
}

#img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

li { 
    padding: 8px;
}

span {
    font-weight: bold; 
    background-color: white; 
    border: 1px solid black;
    padding: 5px;
}

cta {
    text-align: center;
    font-style: italic;
}